@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')
  
$logo-darkblue: rgb(57, 49, 133)
$logo-lightblue: rgb(0, 160, 227)
$light: #f7fdff
$light-blue: #b8dff3
$medium-blue: #749BC2
$dark-blue: #092130
$text-gray: #395369

* 
  margin: 0
  padding: 0
  font-family: inter, sans-serif
  scroll-margin-top: 7.5rem

@media (max-width: 300px) 
  html
    font-size: 4px
  .footer-logo
    height: 24px
  header
    justify-content: space-around
  #header-amenities
    display: none
  .header-logo 
    display: block
    height: 16px 
  .hero
    height: 40rem
  .gallery-title
    padding-inline-start: 12%
  .back-to-top
    display: none
  .price-card
    margin-inline: 2rem

@media (min-width: 301px) 
  html
    font-size: 5px
  .footer-logo
    height: 32px
  header
    justify-content: space-around
  #header-amenities
    display: none
  .header-logo
    display: block
    height: 24px 
  .hero
    height: 40rem
  .gallery-title
    padding-inline-start: 12%
  .back-to-top
    display: none
  .price-card
    margin-inline: 2rem

@media (min-width: 600px)
  html
    font-size: 8px
  header
    justify-content: space-between
  #header-amenities 
    display: block
  .header-logo, .footer-logo
    display: block
    height: 48px 

@media (min-width: 800px) 
  html
    font-size: 10px

@media (min-width: 1200px) 
  html
    font-size: 14px
    background-color: $light
  .header-logo, .footer-logo
    height: 64px
  .hero
    height: 60rem 
  .component-wrapper
    max-width: 60%
  .gallery-title
    padding-inline-start: 20%
  .back-to-top
    display: block

@media (min-width: 1700px) 
  .img-display
    background-position-y: -30rem

@media (min-width: 2200px)
  .component-wrapper
    max-width: 50%
  .gallery-title
    padding-inline-start: 25%
  .price-card 
    margin-inline: 3rem

#root 
  height: 100dvh
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  background-color: $light
  color: $logo-darkblue

.component-wrapper
  border-block-end: 1px solid rgba($dark-blue, 0.1)

.wrapper
  display: flex
  flex-direction: column
  justify-content: center
  background-color: $light

header
  display: flex
  position: sticky
  top: 0
  z-index: 99
  align-items: center
  background-color: $logo-darkblue
  color: $light
  padding-block: 1.5rem
  padding-inline: 3rem

  .navbar
    display: flex
    gap: 1.5rem
    list-style: none

    li
      font-size: 2rem
      font-weight: 600

    li:hover
      text-decoration: underline
      scale: 1.1
    
.body
  display: flex
  flex-direction: column

.hero
  max-height: 60rem
  background: $light
  position: relative

  .hero-image
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%)
    height: 100%

  .hero-text
    background-color: rgba($dark-blue, 0.8)
    height: 100%
    width: 100%
    position: absolute
    color: $light

    h1
      position: absolute
      width: 100%
      text-align: center
      top: 33%
      font-size: 6rem
      font-weight: 600

    h4
      position: absolute
      width: 100%
      text-align: center
      top: 22%
      font-size: 3rem
      font-weight: 500

.back-to-top
  margin-inline-start: auto
  margin-inline-end: 5%
  max-width: 3rem
  position: sticky
  top: 90%
  border: 1px solid rgba($logo-darkblue, 0.2)
  border-radius: 50%
  background-color: $light
  padding: 0.5rem
  z-index: 99

  img
    max-width: 100%

.back-to-top:hover
  box-shadow: 0 0 5px 0 rgba($dark-blue, 0.5)
  scale: 1.1

.about, .amenities
  display: flex
  justify-content: center
  margin-block: 2rem

  .about-wrapper, .amenities-wrapper
    width: 75%
    padding: 4rem

  .about-title, .amenities-title
    font-weight: 400
    font-size: 4rem
    margin-block-end: 2rem

  .about-text, .amenities-text
    display: flex
    justify-content: space-around
    font-weight: 300
    font-size: 2rem
    color: $text-gray

  li
    display: flex
    list-style: none
    margin-block: 0.5rem
    align-items: center

  ul
    img
      height: 2rem
      margin-inline: 1rem

.img-display
  height: 50rem

.gallery
  display: flex
  justify-content: center
  position: relative

  .gallery-wrapper
    width: 100%
  
  .gallery-title
    justify-self: center
    font-weight: 400
    font-size: 4rem
    padding-block: 3rem
    background-color: $light

  .image-slider
    display: flex
    justify-content: center
    align-items: center
    background-color: $light
    width: 100%
    padding-block-end: 3rem

    .gallery-image
      height: 50rem
      max-width: 100%
      transition-property: opacity
      transition-duration: 0.2s
      transition-timing-function: ease-in-out
      will-change: opacity 
      opacity: 0

    button
      border: none
      border-radius: 50%
      padding: 1rem
      background-color: rgba($light, 0.4)
      display: grid
      place-content: center
      z-index: 2
      
    button:hover
      scale: 1.01
      box-shadow: 0 0 4px 0 #121212

    .prev-button
      transform: translate(100%)
      position: absolute
      left: 0
      
      img
        transform: translate(-10%)
        max-height: 2rem

    .next-button
      transform: translate(-100%)
      position: absolute
      right: 0

      img
        transform: translate(10%)
        max-height: 2rem

.reviews
  display: flex
  justify-content: center
  margin-block: 2rem

  .reviews-wrapper
    width: 75%
    padding: 4rem
    border-block-start: 1px solid rgba($dark-blue, 0.1)

  .reviews-title
    font-weight: 400
    font-size: 4rem
    margin-block-end: 2rem

  .rendered-reviews
    display: flex
    justify-content: space-evenly
    gap: 2rem
    margin-block-start: 4rem

    .review
      background: white
      border: 1px solid $logo-darkblue
      border-radius: 0.5rem
      padding: 2rem
      box-shadow: 0 0 12px 0 rgba($logo-darkblue, 0.2)
      color: $text-gray

    .review-top
      display: flex
      align-items: center
      margin-block-end: 1rem

      .reviewer-name
        font-weight: 600
        font-size: 2rem
        margin-inline: 1rem

      .review-date
        margin-inline: 1rem

      img
        border-radius: 50%
        max-height: 6rem

    .review-text
      font-weight: 300
      font-size: 1.5rem

.location
  display: flex
  justify-content: center
  margin-block: 2rem

  .location-wrapper
    width: 75%
    padding-inline: 4rem

  .location-title
    font-weight: 400
    font-size: 4rem
    margin-block-end: 2rem

  .location-text
    display: flex
    justify-content: space-around
    font-weight: 300
    font-size: 2rem
    color: $text-gray
    margin-block-end: 2rem

  .leaflet-container
    height: 30rem
    margin-block-end: 4rem
    z-index: 1

.contacts, .prices, .psa
  display: flex
  justify-content: center   

  .contacts-wrapper, .prices-wrapper, .psa-wrapper
    width: 75%
    padding: 4rem

  .contacts-title, .prices-title, .psa-title
    font-weight: 400
    font-size: 4rem
    margin-block-end: 2rem

.prices
  .price-cards
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center
    max-width: fit-content

  .price-card
    display: grid
    grid-template-rows: repeat(4, 1fr)
    grid-template-columns: 5rem / 8rem
    place-items: center
    font-size: 1.2rem
    border: 2px solid $logo-darkblue
    border-radius: 8px
    max-width: fit-content
    box-shadow: 0 0 8px 0 rgba($logo-darkblue, 0.5)
    margin-block: 1rem

    &:hover
      transform: scale(1.05)

    .price-card-title-container
      display: grid
      place-content: center
      grid-column: span 2
      height: 100%
      width: 100%
      border-top-radius: 8px
      border-bottom: 2px solid $logo-darkblue

      h5
        font-size: 2rem
        text-align: center
        padding: 1rem

    .priority
      background-color: $logo-darkblue
      color: $light
      border-top-left-radius: 8px
      border-top-right-radius: 8px
      border: 1px solid $logo-darkblue

    p
      display: grid
      align-items: center
      color: $text-gray
      font-size: 1.3rem
      height: 100%
      width: 85%
      margin-inline: 1rem
        
    .card-data-type
      &:nth-of-type(odd):not(:first-of-type)
        border-block-start: 1px solid rgba($logo-darkblue, 0.1)

    .card-data
      text-align: center
      &:nth-of-type(even):not(:nth-of-type(2))
        border-block-start: 1px solid rgba($logo-darkblue, 0.1)

  .prices-additional-info
    color: $text-gray

.contacts  
  .contacts-wrapper
    display: flex
    flex-direction: column

  .contact-telephone, .contact-email
    display: flex
    align-self: center
    width: 60%
    font-size: 1.5rem
    color: $text-gray

    img
      height: 2rem
  
  .contact-telephone 
    margin-block: 1rem
  
  .contact-email
    margin-block-end: 2rem

  form
    align-self: center
    display: flex
    flex-direction: column
    width: 60%

  .form-group
    display: flex
    justify-content: space-between
    margin-block-end: 1rem
    width: 100%
  
  input 
    width: 45%
    border: 1px solid $dark-blue
    border-radius: 8px
    padding: 0.5rem
    font-size: 1.2rem

  textarea
    resize: none
    border-radius: 8px
    border: 1px solid $dark-blue
    width: 100%
    padding: 0.5rem
    font-size: 1.2rem

  .recaptcha
    align-self: center
  
  button
    align-self: flex-end
    padding: 1rem 2rem
    background-color: $logo-darkblue
    border: 1px solid $dark-blue
    border-radius: 8px
    color: $light
    font-size: 1.4rem
    font-weight: 500

    &:hover
      box-shadow: 0 0 6px 0 $dark-blue
      scale: 1.05

.psa
  ol
    margin-inline-start: 2rem
  li
    font-size: 1.8rem
  h4
    font-weight: 400
    margin-top: 1.5rem
    margin-bottom: 0.5rem

  .psa-text
    color: $text-gray
    font-size: 1.4rem

footer
  display: flex
  flex-direction: column
  align-items: center
  background: $logo-darkblue
  color: $light

  .footer-wrapper
     width: 75%
     padding: 4rem

  .house-info
    display: flex
    justify-content: space-around
    align-items: center

  .footer-contacts
    display: flex
    flex-direction: column
    gap: 0.7rem

  .footer-navbar > li:hover
    text-decoration: underline

  .dev-info
    text-align: center
    margin-block-start: 5rem
    font-size: 1.5rem

  .icons-attribute
    font-size: 1rem

    a
      text-decoration: none
      color: inherit